* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */
}

.container {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 90%;
    min-height: 400px;
    max-width: 700px;
    margin: 20px auto;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 25px;
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
    margin: 20px 0;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #170d0d;
    color: #fff;
    padding: 10px 45px;
    border: 1px solid black;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container .sign_in button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}
.container .sign_up button:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.container input {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    outline: none;
    font-size: 13px;
}

.sign_in, .sign_up {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease;
}

.sign_in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign_in {
    transform: translateX(100%);
}

.sign_up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.container.active .sign_up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.togle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 50px;
    z-index: 1000;
    transition: all 0.6s ease-in-out;
}

.container.active .togle-container {
    transform: translate(-100%);
}

.togle {
    background-color: #0e0606;
    height: 100%;
    background: linear-gradient(to right, #181414c9, #181414c9);
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translate(0);
    transition: all 0.6s ease-in-out;
}

.togle-container .togle .togle-panel .hidden:hover {
    background-color: #fff;
    color: #0c0606;
}

.container.active .togle {
    transform: translate(50%);
}

.togle-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 100%;
    width: 50%;
    text-align: center;
    transition: all 0.6s ease-in-out;
}

.togle-left {
    transform: translateX(-200%);
}

.container.active .togle-left {
    transform: translateX(0);
}

.togle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .togle-right {
    transform: translateX(200%);
}

.icons {
    margin: 0;
}

.icons a {
    border: 1px solid #050101;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

